# track backend folder, but ignore junk
backend/node_modules/
backend/dist/
backend/.env
backend/.env.*
!backend/.env.example
backend/prisma/dev.db
backend/prisma/dev.db-journal

# dependencies
node_modules/
frontend/node_modules/

# env & secrets
.env
frontend/.env
.env.*
!.env.example

# builds / caches
dist/
build/
.vite/
.next/
out/
.cache/
coverage/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
